Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
docutils
pathtools
pip-autoremove
polib
six==1.9.0
sphinx-autobuild
sphinx-intl
tabulate
termcolor
tornado
watchdog
sphinxcontrib-spelling
sphinx-testing
sphinxprettysearchresults
